body {
    background-image: url("BluePattern.jpg");
    background-repeat: repeat;
} /* the image is in the same folder as the stylesheet just FYI */
#allcontent {
    background-color: #8099CC;
    width: 1000px;
    height: 2200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#banner {
    background-color: #000099;
    height: 92px;
    width: 100%;
    margin-top: auto;
    font-size: 72px;
    font-family: sans-serif;
    text-align: center;
    padding-top: 25px;
    color: #FFF;
    text-shadow: 4px 4px #000;
}
#leftlinks {
    background-color: #3E3E96;
    width: 225px;
    height: 2083px;
    float: left;
}
#right_side_content {
    width: 775px;
    height: 2100px;
    float: left;
}
ul {
    padding-left: 30px;
    list-style: square;
    color: #fff;
}
/* links start here */
a:link {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
}
a:visited {
    text-decoration: none;
    color: #00ffff
}
a:hover {
}
a:active {
}
#fillertext {
    margin: 5px;
    float: left;
}
#featured {
    height: auto;
    width: auto;
    float: left;
}
#sidebartext {
    margin: 5px;
    color: #fff;
    text-align: center;
    background-color: #000;
    padding: 5px;
}
